/* Give your page a fun background color */
body {
  background-color: Yellow;
}
/* Make the header and footer a different color from the background */
header class="exp-header" ...> {
  color: Red;
}

h1 {
  color: Violet;
  text-align: center;
}

ul {
  color: Blue;
}

footer {
  color: Green;
}
/* Align the h1 containing your name in the center of the header*/
.exp-header {
  text-align: center;
}
/* Make your p tag a different color and italic */
p {
  color: Indigo;
  font-style: italic;
}
/* Put a border around your image */
img {
  border-top: 10px solid Red;
  border-bottom: 10px solid Red;
  border-left: 10px solid Red;
  border-right: 10px solid Red;
}
/* Change the font-family of your list */
body {
  font-family: Arial, Helvetica, sans-serif;
}
