/* Give your page a fun background color */
body {
  background-color: #444444;
}
/* Make the header and footer a different color from the background */
header {
  color: #888888;
}
footer {
  color: Green;
}
/* Align the h1 containing your name in the center of the header*/
.exp-header {
  text-align: center;
}
/* Make your p tag a different color and italic */
p {
  color: Indigo; italic;
}
/* Put a border around your image */
img {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
/* Change the font-family of your list */
body {
  font-family: Arial, Helvetica, sans-serif;
}
